:root {
    --margin-top-for-first-section: 20px;
    --general-right-margin: 30px;
    --general-left-margin: 150px;
    --general-left-gap: 50px;
    --general-bottom-margin: 100px;
}

body{
    background-color: #120127;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* first section */

.firstSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.mainImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 1 auto;
    height: 915px;
    position: relative;
}

.firstSectionMain{
    background-image: url('images/FirstSectionBackground.png');
}

.firstSectionNavi{
    flex: 0 0 var(--general-left-gap);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    /* paint pixture */

    .paintPixtureHeadingText{
        position: absolute;
        color: white;
        font-size: 132px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-align: center;
        margin: 0;
        line-height: 0.8;
    }

    .firstSectionCircle {
        width: 119px;
        height: 119px;
        border-radius: 50%; /* Makes the div a circle */
        border: 8px solid white; /* Background color of the circle */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px; /* Font size of the text */
        font-weight: bold; /* Font weight of the text */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .innerCircleText{
        color: white;
        font-size: 40px;
        transform: rotate(2deg);
        font-family: 'Times New Roman', Times, serif;
    }

    /* menu for firstsection  */

    .menuToggle{
        margin-top: var(--margin-top-for-first-section);
    }

    .menuToggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;
    }

    .mailIcon{
        position: absolute;
        background-image: url('images/mailIcon.png');
        top: var(--margin-top-for-first-section);
        right: var(--general-right-margin);
        height: 17px;
        width: 24px;
    }

    /* slide down paragraph and icon  */
        .firstSectionSlideDown{
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 100px;
            position: relative;
        }

        .arrowDown{
            background-image: url('images/ArrowShape.png');
            height: 7px;
            width: 12px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .slideDownText{
            position: absolute;
            top: 0;
            margin: 0;
            color: white;
            font-size: 12px;
            transform: rotate(-90deg);
            white-space: nowrap;
        }

        .slideDownSubText{
            color: white;
            font-size: 10px;
            transform: rotate(-90deg);
            white-space: nowrap;
            padding-left: 12px;
        }

        /* paragraph */
        .innerMainParagraph{
            position: absolute;
            left: var(--general-left-margin);
            bottom: var(--general-bottom-margin);
            width: 30%;
        }

        .innerMainParagraph .paragraphHeading{
            color: white;
            font-size: 24px;
            margin: 0;
        }

        .innerMainParagraph .paragraphContent{
            margin-top: 15px;
            color: white;
            font-size: 13px;
        }

        .threeSmallDots{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: fit-content;
            position: absolute;
            top:4px;
            right: -5%;
        }

        .smallDot{
            background-color: white;
            border-radius: 50%;
            height: 4px;
            width: 4px;
            margin-right: 2px;
            display: inline-block;
        }

        /* date time area  */
        .dateTimeArear{
            position: absolute;
            bottom: var(--general-bottom-margin);
            right: var(--general-right-margin);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .rightArrow{
            background-image: url('images/RightArrow.png');
            width: 7px;
            height: 12px;
        }

        .dateTimeText{
            font-size: 13px;
            color: white;
        }
/* carousel heading  */
.carouselHeading{
    color: white;
    font-size: 18px;
    margin-left: calc(var(--general-left-gap) + var(--general-left-margin));
    margin-top: 30px;
    margin-bottom: 30px;
}

/* carousel  */

.carousel{
    height: 467px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin-bottom: 30px;
}

.carousel_slides{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel_slide{
    width: fit-content;
   position: absolute;
   inset: 0;
   /* opacity: 0; */
}

.carouselItem{
    width: 379px;
    height: 467px;
    background-color: white;
}

.carousel-button{
    position: absolute;
    top: 40%;
    opacity: 0.8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 100;
    transition: color 0.3s ease-in-out;
    background: transparent;
}

.carousel-button:hover{
    opacity: 1;
}
.prev{
    left: 1rem;
    background-image: url('images/bigRightArrow.png');
    transform: rotate(180deg);
    width: 24px;
    height: 42px;
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.next{
    right: 1rem;
    background-image: url('images/bigRightArrow.png');
    /* transform: rotate(180deg); */
    width: 24px;
    height: 42px;
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel > ul{
    padding: 0;
    margin: 0 20px;
    list-style: none;
}
    /* carousel items */
    .carouselItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .carouselItemImage{
        flex:1;
    }

    .carouselItemText{
        flex:1;
    }

    /* images from carousel  */

    .carouselImg1{
        background-image: url('images/SmallSky1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .carouselImg2{
        background-image: url('images/SmallSky2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .carouselImg3{
        background-image: url('images/SmallSky3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .carouselImg4{
        background-image: url('images/SmallSky4.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    /* carousel heading  */
    .carouselItemHeading{
        margin: 20px 40px;
        color: #0C2539;
        font-size: 25px;
    }

    .carouselItemContent{
        color: #677278;
        font-size: 13px;
        margin: 20px 40px;
    }

    /* black square  */

    .blackSquare{
        position: absolute;
        background-color: black;
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
        top: calc(50%-20px);
        left: -20px;
    }

/* your passion  */
.passionImage{
    background-image: url('images/PassionImage.png');
}


    